body {
    overflow: visible;
}

.birthday-card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    visibility: hidden;
}

.birthday-card:hover {
    transform: translateY(100px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.present-room {
    display: inline-block;
}

.present-room img {
    display: block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 70%;
    height: auto;
    transform: translate(25%, -2.5%);
}

.present {
    position: absolute;
    width: 8%;
    z-index: 10;
    transform: var(--pos) var(--rot, rotate(0deg));
}

.present img {
    display: block;
    box-shadow: none;
    border: none;
}

.present:hover {
    transform: var(--pos) rotate(0deg) scale(1.3);
}

#present1 {
    --pos: translate(500%, -373%);
    --rot: rotate(2deg);
}

#present2 {
    --pos: translate(380%, -368%);
    --rot: rotate(-3deg);
}

.message-text {
    visibility: hidden;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-in-out forwards;
    visibility: visible;
}

@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.disappear {
    opacity: 0;
    transform: scale(3);
}

