body {
    overflow: hidden;
}

.birthday-card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.birthday-card:hover {
    transform: translateY(100px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.message-text {
    visibility: hidden;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-in-out forwards;
    visibility: visible;
}

@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}